body {
	font-family: "Verdana";
	font-size: 12px;
}

.tweet {
	padding: 5px;
	background: lightgreen;
	border: 2px;
	border-radius: 5px;
	margin-bottom: 2px;
}

.newTweet {
	padding: 5px;
	background: lightblue;
	border: 2px;
	border-radius: 5px;
	margin-bottom: 2px;
}

