body {
	font: helvetica;
	font-size: 15px;
}

.tweet {
	padding: 5px;
	background: yellow;
	border: 2px;
	border-radius: 5px;
}

.newTweet {
	padding: 5px;
	background: blue;
	border: 2px;
	border-radius: 5px;
}

